html {
  font-size: 62.5%;
}

body {
  font-family: $font-secondary;
  font-size: 1.3rem;
  line-height: 3vh;
  letter-spacing: 0.1rem;

  section {
    border-radius: 1vw;
    p {
      padding: 1vh 5vw;
    }

    ul {
      padding: 1vh 1vw;
      .supported-nicotine__list--item {
        background: #fff;
        border-radius: 1vw;
        color: #324c74;
        font-family: $font-primary;
        padding: 0 0.2vw;
      }
    }
  }
}

$breakpoints: (
  'small': (
    min-width: 800px,
  ),
  'medium': (
    min-width: 1000px,
  ),
  'big': (
    min-width: 1200px,
  ),
);

.page__title {
  color: $color-green;
}
