html {
  
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
 
}

* {
  box-styling: border-box;
  margin: 0;
  padding: 0;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
  
}

.main-menu {
background:#100a1c;

border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#100a1c;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,700|Bungee+Shade|Josefin+Sans:400';
.support {
  align-items: center;
  background: tomato;
  color: #fff;
  display: flex;
  font-size: 0.9rem;
  padding: 0 10px 0 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: 100;
}
.support a {
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
}
@supports (display: grid) {
  .support {
    background: #100a1c;
    right: 40px;
    transform: translateX(100%);
    transition: right 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  .support:hover {
    right: 0;
    transform: translateX(0%);
  }
}

.support svg {
  fill: #ffffff;
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  width: 30px;
}

.unsupported {
  display: block;
}
@supports (display: grid) {
  .unsupported {
    display: none;
  }
}

.supported {
  display: none;
}
@supports (display: grid) {
  .supported {
    display: block;
  }
}

main {
  margin-left: 60px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, 500px);
}
@media (min-width: 34em) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.heading {
  grid-row: span 3;
}

.intro {
  grid-row: span 2;
}
@media (min-width: 34em) {
  .intro {
    grid-column: span 3;
  }
}

div:nth-of-type(1) {
  background: #100a1c;
}

div:nth-of-type(2) {
  background: #100a1c;
}

div:nth-of-type(3) {
  background: #100a1c;
}

div:nth-of-type(4) {
  background:#100a1c;
}

div:nth-of-type(5) {
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  border-radius: 1rem;
}

div:nth-of-type(6) {
  background: #100a1c;
}

div:nth-of-type(7) {
  background: #100a1c;
}

div:nth-of-type(8) {
  background: #100a1c;
}

div:nth-of-type(9) {
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  border-radius: 1rem;
}

body {
  background: #100a1c;
  color: #fff;
  font-family: Comfortaa, sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
  line-height: 1;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

div {
  color: #fff;
  padding: 0.85rem;
  border: 3px solid #130a1c;
}
@media (min-width: 34em) {
  div {
    padding: 2rem;
  }
}

h2 {
  font-size: 2rem;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.demo-number {
  font-family: "Bungee Shade", cursive;
  font-size: 3.5rem;
}

a {
  color: #133875;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}